<!DOCTYPE html>
html(lang="en")
	head
	meta(charset="UTF-8")
	
	title Node <-> Express <-> Jade
	
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css")
	link(rel="stylesheet", href="/public/css/style.css", media="screen", title="no title", charset="utf-8")
	
	body
		.wrapper
			block home
			block login_form
			block user_info
			footer
				p (c) 2016
